<!DOCTYPE html>
<html lang="vn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/section2.css">
    <link rel="stylesheet" href="../css/reponsive.css">
    <title>MB ageas</title>
    <!-- Google Tag Manager -->
    
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':

                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],

                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =

                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);

        })(window, document, 'script', 'dataLayer', 'GTM-KKDZ96DM');</script>
    
    <!-- End Google Tag Manager --> 
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KKDZ96DM" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    
    <!-- End Google Tag Manager (noscript) -->
    <section class="section2">
        <div class="container">
            <div class="title">
                <h4>TẠI SAO BẠN NÊN MUA BẢO HIỂM</h4>
                <h2>QUẲNG GÁNH ÂU LO</h2>
            </div>
            <div class="widget-area">
                <div class="widget widg-1">
                    <div class="widget__img">
                        <img src="../img/icon-1.png" alt="">
                    </div>
                    <div class="widget__disc">
                        <div class="widget__title">
                            <h2>Đảm bảo tài chính
                                <br>vững vàng trước mọi rủi ro</h2>
                        </div>
                        <div class="inner-widget">
                            <p> - Chủ động lựa chọn Quỹ đầu tư & Tỷ lệ đầu tư vào mỗi Quỹ dựa trên khẩu vị rủi ro.
                                <br>- Miễn phí 05 lần chuyển đổi Quỹ đầu tiên trong mỗi Năm Hợp đồng.
                                <br>- Gia tăng quyền lợi đầu tư trên Giá trị tài khoản quỹ đóng thêm, với mức Phí đóng thêm mỗi năm lên đến 10
                                lần Phí bảo hiểm cơ bản.
                                <br>- Miễn phí rút tiền từ Giá trị tài khoản quỹ đóng thêm để chủ động thay đổi kế hoạch đầu tư bất kỳ lúc nào.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="widget widg-2">
                    <div class="widget__img">
                        <img src="../img/icon-2.png" alt="">
                    </div>
                    <div class="widget__disc">
                        <div class="widget__title">
                            <h2>Phí đóng ngắn, bảo vệ dài,
                                <br>linh hoạt theo nhu cầu</h2>
                        </div>
                        <div class="inner-widget">
                            <p> Linh hoạt kế hoạch đóng phí (từ tối thiểu 03 năm) với nhiều lựa chọn Thời hạn Hợp đồng, bảo vệ lên tới 100 tuổi
                            </p>
                        </div>
                    </div>
                </div>
                <div class="widget widg-3">
                    <div class="widget__img">
                        <img src="../img/icon-3.png" alt="">
                    </div>
                    <div class="widget__disc">
                        <div class="widget__title">
                            <h2>Tư vấn nhanh chóng, đúng nhu cầu bởi các Tư vấn viên MDRT hàng đầu tại MB Ageas Life 
                            </h2>
                        </div>
                        <div class="inner-widget">
                            <p> Trong Năm Hợp đồng đầu tiên, Phí quản lý Hợp đồng được miễn toàn bộ.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>