<!DOCTYPE html>
<html lang="vn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/section2.css">
    <link rel="stylesheet" href="../css/reponsive.css">
    <title>MB ageas</title>
    <!-- Google Tag Manager -->
    
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':

                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],

                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =

                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);

        })(window, document, 'script', 'dataLayer', 'GTM-KKDZ96DM');</script>
    
    <!-- End Google Tag Manager --> 
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KKDZ96DM" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    
    <!-- End Google Tag Manager (noscript) -->
    <section>
        <div class="container">
            <div class="title">
                <h4>TẠI SAO BẠN NÊN MUA BẢO HIỂM</h4>
                <h2>QUẢNG GÁNH ÂU LO</h2>
            </div>
        </div>
    </section>
    
</body>
</html>