@media (max-width: 575px){
    .inner-thank{
        width: 100%;
        justify-content: flex-start;
        padding-top: 3em;
    }
    .thank-you{
        height: auto;
        padding-top: 14em;
    }
    .footer{
        padding: 3em 0 3em;
    }
    .footer-row{
        gap: 2em;
    }
}
@media (min-width: 576px) and (max-width: 768px){
    .header{
        align-items: center;
    }
    .thank-you{
        height: auto;
        padding-top: 14em;
    }
    .inner-thank{
        width: 60%;
        padding-left: 0.5em;
    }
    .inner-thank h2 {
        font-size: 2em;
    }
    .inner-thank p {
        font-size: 1.35em;
    }
    .footer{
        padding: 0;
    }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
    .body-thank footer{
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }
    .thank-you{
        height: 100%;
        padding-top: 15em;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .body-thank footer{
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }
    .thank-you{
        height: 100%;
        padding-top: 20em;
    }
    .box-thank{
        margin-top: 3em;
        width: 90%;
    }
    footer{
        padding: 2.5em 0 5.5em;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px){
    .body-thank footer{
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }
    .thank-you{
        height: 100%;
        padding-top: 14em;
    }
    .box-thank{
        margin-top: 5em;
        width: 80%;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px){
    .thank-you{
        height: 100%;
        padding-top: 10em;
    }
    .box-thank{
        margin-top: 5em;
        width: 80%;
    }
    footer{
        padding: 2.5em 0 5.5em;
    }
}
@media (min-width: 1600px){
    .thank-you{
        height: 100%;
        padding-top: 10em;
    }
    .box-thank{
        margin-top: 5em;
        width: 80%;
    }
    footer{
        padding: 2.5em 0 5.5em;
    }
}