@media (max-width: 575px){
    .container{
        padding-left: 10px;
        padding-right: 10px;
    }
    /* HEADER */
    .header{
        align-items: center;
    }
    .logo img{
        height: 7em;
    }
    .header .contact-header{
        font-size: 0.6em;
        flex-direction: column;
    }
    .contact-header .register{
        margin-right: 0;
        text-align: center;
    }
    .btn.hotline{
        margin-top: 0.5em;
    }
    /* Banner */
    .banner{
        background: url(../img/bg-mobile.jpg);
        background-repeat: no-repeat;
    }
    .banner__title{
        font-size: 0.6rem;
    }
    .banner__title .line-1{
        text-align: start;
        margin-left: 9em;
    }
    .banner__title .line-2{
        text-align: start;
        margin-left: 15em;
    }
    .top-banner {
        flex-direction: column;
    }
    .img-bg img{
        margin-left: 0;
    }
    /* FORM */
    .top-banner .form .diablog{
        top: -3.5em;
    }
    .diablog{
        font-size: 0.8rem;
        margin-top: 0;
        max-width: 100%;
    }
    .top-form{
        text-align: start;
        padding-left: 4em;
    }
    /* BOX AREA */
    .bot-banner{
        top: 2em;
    }
    .box-area{
        gap: 1.5em;
    }
    .box-area .box{
        width: 46%;
    }
    .inner-box .icon,
    .inner-box .icon-hover
    {
        height: 3.2em;
    }
    .box-area .inner-box span{
        font-size: 1.4em;
    }
    /* VIDEO AREA */
    .video-area{
        margin-top: 5.5em;
    }
    .video-area__title{
        text-align: center;
    }
    .video-area__disc{
        flex-direction: column;
    }
    .video-area__right{
        width: 100%;
        margin-top: 5em;
    }
    .video-area__left{
        margin-top: 4em;
        height: auto;
    }
    .video-area__left .learnmore{
        margin-top: 5em;
    }
    .video-play{
        height: auto;
    }
    /* VIDEO AREA */
    .video-area{
        margin-top: 5.5em;
    }
    .video-area__title{
        text-align: center;
    }
    .video-area__disc{
        flex-direction: column;
    }
    .video-area__right{
        width: 100%;
        margin-top: 5em;
    }
    .video-area__left{
        margin-top: 4em;
        height: auto;
    }
    .video-area__left .learnmore{
        margin-top: 5em;
    }
    .video-area{
        font-size: 0.7rem;
    }
    /* SECTION 2 WIDGET */
    .section2{
        padding: 7.5em 1.5em;
    }
    .section2 .title{
        font-size: 0.7rem;
    }
    .widget {
        font-size: 0.6em;
        width: 100%;
        height: 111.95em;
        margin-bottom: 5em;
    }
    .widget__title h2{
        font-size: 3.5em;
    }
    .widget:hover .widget__img{
        width: 35em;
        height: 35em;
        margin-top: 6em;
        margin-bottom: 5em;
    }
    .widget:hover .widget__img img{
        width: 21em;
    }
    .inner-widget p{
        font-size: 2.8em;
    }
    .widget:hover .inner-widget{
        padding-top: 4.6em;
    }
    /* VIDEO section 3 */
    .section3{
        padding: 10em 0 7em;
    }
    .section3 .video-area__disc  {
        flex-direction: column-reverse;
    }
    .section3 .video-area__disc .video-area__right{
        padding: 0 6em;
    }
    .section3 .video-area__title{
        text-align: start;
        font-size: 0.55rem;
    }
    /* Section 4 */
    .section4{
        height: auto;
        background-size: cover;
        padding: 7em 0 6.5em;
    }
    .img-section5{
        display: none;
    }
    .mobile-img-section5{
        display: inherit;
    }
    .free-charge__img{
        width: 100%;
        position: relative;
    }
    .free-charge__img img{
        position: relative;
        left: 0em;
    }
    .free-charge__right{
        padding-top: 0;
        top: -1.5em;
    }
    .section4 .free-charge__title{
        width: 100%;
        padding: 1em;
        font-size: 0.8rem;
    }
    /* FORM BOTTOM */
    .form-bottom .banner__disc .top-banner{
        flex-direction: column;
    }
    .form-bottom .form{
        font-size: 1em;
    }
    .form-bottom .title{
        font-size: 0.6rem;
    }
    .form-bottom .top-banner .form .diablog{
        width: 100%;
        top: 0;
        margin-top:0;
    }
    .form-bottom .banner__disc .img-bg{
        right: 0;
        position: relative;
        display: flex;
        justify-content: flex-end;
        flex: 7;
    }
    .form-bottom .img-bg img{
        object-fit: cover;
    }
    .form-bottom .banner__disc .form{
        flex: 5;
    }
    .form-bottom .title h2{
        margin: 2.5rem 0 3.5rem;
    }
    /* FOOTER */
    .footer-row{
        flex-direction: column;
        gap: 4rem;
    }
    .footer-disc__down{
        justify-content: flex-start;
    }
    .icon-social {
        justify-content: flex-start;
    }
    .social .icon-social .img-icon{
        margin-left: 0;
        margin-right: 2.5em;
    }
}
@media (min-width: 576px) and (max-width: 768px){
    /* HEADER */
    .logo img{
        height: 8em;
    }
    /* Banner */
    .banner{
        background: url(../img/bg-mobile.jpg);
        background-repeat: no-repeat;
    }
    .top-banner .form .diablog{
        top: -7em;
    }
    .banner__title{
        font-size: 0.8rem;
    }
    .banner__title .line-1{
        text-align: start;
        margin-left: 9em;
    }
    .banner__title .line-2{
        text-align: start;
        margin-left: 15em;
    }
    .top-banner {
        flex-direction: column;
    }
    .img-bg img{
        margin-left: 0;
    }
    /* FORM */
    .diablog{
        margin-top: 0;
        max-width: 100%;
    }
    .top-form{
        text-align: start;
        padding-left: 4em;
    }
    .bot-form{
        padding: 0 5em 5em 5em;
    }
    /* BOX AREA */
    .bot-banner{
        top: 2em;
    }
    .box-area{
        gap: 2em;
    }
    .box-area .box{
        width: 47%;
    }
    .inner-box .icon,
    .inner-box .icon-hover
    {
        height: 4.5em;
    }
    .box-area .inner-box span{
        font-size: 1.8em;
    }
    /* VIDEO AREA */
    .video-area{
        margin-top: 5.5em;
    }
    .video-area__title{
        text-align: center;
    }
    .video-area__disc{
        flex-direction: column;
    }
    .video-area__right{
        width: 100%;
        margin-top: 5em;
    }
    .video-area__left{
        margin-top: 4em;
        height: auto;
    }
    .video-area__left .learnmore{
        margin-top: 5em;
    }
    /* SECTION 2 WIDGET */
    .section2{
        padding: 9.5em 5.5em;
    }
    .widget {
        width: 100%;
        height: 111.95em;
        margin-bottom: 5em;
    }
    .widget__title h2{
        font-size: 3.5em;
    }
    .widget:hover .widget__img{
        width: 35em;
        height: 35em;
        margin-top: 6em;
        margin-bottom: 5em;
    }
    .widget:hover .widget__img img{
        width: 21em;
    }
    .inner-widget p{
        font-size: 2.8em;
    }
    .widget:hover .inner-widget{
        padding-top: 4.6em;
    }
    /* VIDEO section 3 */
    .section3{
        padding: 10em 0 7em;
    }
    .section3 .video-area__disc  {
        flex-direction: column-reverse;
    }
    .section3 .video-area__disc .video-area__right{
        padding: 0 7em;
    }
    .section3 .video-area__title{
        text-align: start;
    }
    /* Section 4 */
    .section4{
        height: auto;
        background-size: cover;
        padding: 7em 0 6.5em;
    }
    .img-section5{
        display: none;
    }
    .mobile-img-section5{
        display: inherit;
    }
    .free-charge__img{
        width: 100%;
        position: relative;
    }
    .free-charge__img img{
        position: relative;
        left: 0em;
    }
    .free-charge__right{
        top: -2.5em;
        padding-top: 0;
    }
    .section4 .free-charge__title{
        width: 80%;
        margin: 0 auto;
        font-size: 0.9rem;
    }
    /* FORM BOTTOM */
    .form-bottom .banner__disc .top-banner{
        flex-direction: column;
    }
    .form-bottom .form{
        font-size: 1em;
    }
    .form-bottom .title{
        font-size: 0.8rem;
    }
    .form-bottom .top-banner .form .diablog{
        width: 100%;
        top: 0;
        margin-top:0;
    }
    .form-bottom .banner__disc .img-bg{
        right: 0;
        position: relative;
        display: flex;
        justify-content: flex-end;
        flex: 7;
    }
    .form-bottom .img-bg img{
        object-fit: cover;
    }
    .form-bottom .banner__disc .form{
        flex: 5;
    }
    .form-bottom .title h2{
        margin: 2.5rem 0 3.5rem;
    }
    /* FOOTER */
    .footer-row{
        flex-direction: column;
        gap: 4rem;
    }
    .footer-disc__down{
        justify-content: flex-start;
    }
    .icon-social {
        justify-content: flex-start;
    }
    .social .icon-social .img-icon{
        margin-left: 0;
        margin-right: 2.5em;
    }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
    /* BANNER */
    .img-bg img{
        margin-left: -2em;
    }
    /* FORM */
    .diablog{
        font-size: 0.7rem;
    }
      /* BOX AREA */
      .bot-banner{
        top: -1em;
    }
    .inner-box .icon,
    .inner-box .icon-hover
    {
        height: 3.8em;
    }
    .box-area .inner-box span{
        font-size: 1.6em;
        margin-top: 0.3em;
    }
    /* VIDEO */
    .video-area__title{
        font-size: 0.8rem;
    }
    .video-play{
        height: 229px;
    }
    .video-area__disc{
        font-size: 0.6rem;
    }
    /* SECTION 2 WIDGET */
    .widget {
        font-size: 0.55em;
    }
    .section2 .title{
        font-size: 0.8rem;
    }
    /* section5 */
    .free-charge__img{
        left: -20em;
    }
    .free-charge__img img{
        width: 80%;
    }
    .section4 .free-charge__title{
        font-size: 0.8rem;
    }
    /* FORM BOTTOM */
    .form-bottom .form{
        font-size: 0.9em;
    }
    .form-bottom .title{
        font-size: 0.6rem;
    }
    .form-bottom .diablog{
        width: 90%;
    }
    .form-bottom .banner__disc .img-bg{
        right: 0;
        position: relative;
        display: flex;
        justify-content: flex-end;
        flex: 7;
    }
    .form-bottom .img-bg img{
        object-fit: cover;
    }
    .form-bottom .banner__disc .form{
        flex: 5;
    }
    /* FOOTER */
    .footer-row{
        font-size: 0.8rem;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    /* FORM */
    .diablog{
        font-size: 0.9rem;
    }
    /* BOX AREA */
    .bot-banner{
        top: -1em;
    }
    .inner-box .icon,
    .inner-box .icon-hover
    {
        height: 4.5em;
    }
    .box-area .inner-box span{
        font-size: 1.8em;
    }
    /* VIDEO */
    .video-play{
        height: 289px;
    }
    .video-area__right{
        font-size: 0.8rem;
    }
    /* SECTION 2 WIDGET */
    .widget {
        font-size: 0.6em;
    }
    /* section5 */
    .free-charge__img{
        left: -30em;
    }
    .free-charge__img img{
        width: 85%;
    }
    /* FORM BOTTOM */
    .form-bottom .form{
        font-size: 0.9em;
    }
    .form-bottom .title{
        font-size: 0.8rem;
    }
    .form-bottom .diablog{
        width: 90%;
    }
    .form-bottom .banner__disc .img-bg{
        right: 0;
        position: relative;
        display: flex;
        justify-content: flex-end;
        flex: 7;
    }
    .form-bottom .img-bg img{
        object-fit: cover;
    }
    .form-bottom .banner__disc .form{
        flex: 5;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px){
    /* VIDEO */
    .video-play{
        height: 339px;
    }
    /* section5 */
    .free-charge__img{
        left: -23em;
    }
    .free-charge__img img{
        width: 98%;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px){
    /* VIDEO */
    .video-play{
        height: 339px;
    }
    /* section5 */
    .free-charge__img img{
        width: 85%;
    }
}
@media (min-width: 1600px){
    .free-charge__img img{
        width: 90%;
    }
}