.section2{
    padding: 10em 0 14em;
}
.title {
    text-align: center;
}
.title h2 {
    font-size: 6.4em;
    font-weight: 500;
    color: var(--pink-hover);
}
.title h4 {
    font-size: 2.4em;
    font-weight: 500;
    color: var(--pink);
}
.widget-area{
    margin-top: 10em;
    display: flex;
    justify-content: space-between;
}
.widget{
    position: relative;
    width: 30%;
    text-align: center;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 20px 14px 28px, rgba(0, 0, 0, 0.22) 10px 10px 10px;
    background: var(--primary);
    position: relative;
    overflow: hidden;
    height: 64em;
}
.widg-2 {
    background-color: var(--secondary);
}
.widg-3 {
    background-color: var(--pink);
}
.widget__img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    padding: 12em 6em 9em 6em;
    transform: translateX(-50%);
    border-radius: 50%;
}
.widget__title h2{
    font-size: 2em;
    margin-bottom: 7em;
    color: var(--white);
}
.inner-widget p{
    font-size: 1.6em;
}
.inner-widget{
    position: relative;
    text-align: start;
    overflow: hidden;
    height: 100%;
    /* opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-top: 15em; */
}
.inner-widget p{
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    height: 0;
}
.widget__img img{
    width: 100%;
}
.widget:hover:before {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
    border-radius: 2rem;
}
.widget:before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease,-webkit-transform 0.4s ease;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(1, 0);
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    border-radius: 2rem;
}
.widget:hover .widget__img{
    /* padding: 3.5em 8em 3em 8em; */
    display: flex;
    width: 20em;
    height: 20em;
    padding: 0;
    margin-top: 4em;
    margin-bottom: 3.5em;
    background-color: var(--primary);
}
.widget.widg-2:hover .widget__img{
    background-color: var(--secondary);
}
.widget.widg-3:hover .widget__img{
    background-color: var(--pink);
}
.widget:hover .widget__img img{
    width: 13rem;   
}
.widget:hover .widget__title h2{
    position: relative;
    color: var(--black);
    z-index: 9999;
    margin-bottom: 0;

}
.widget:hover .widget__title{
    padding: 0 5em;
}
.widget:hover .inner-widget p{
    opacity: 1;
    visibility: visible;
    height: 100%;
}
.widget:hover .inner-widget{
    padding: 3em 5em 6em 5em;
}
