html{
    font-size: 62.5%;
}
/* Header */
.header{
    display: flex;
    justify-content: space-between;
    position: absolute;
    background: transparent;
    left: 50%;
    transform: translateX(-50%);
    top: 2em;
    height: 10em;
}
.header .contact-header{
    display: flex;
    position: relative;
    width: fit-content;
    align-items: flex-end;
}
.logo{
    width: 100%;
}
.logo img{
    object-fit: contain;
}
.btn
{
    width: 100%;
    text-wrap: nowrap;
    padding: 0.9em 2.2em;
    background-color: var(--pink-hover);
    border-radius: 2em;
    color: var(--white);
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: center;
}
.contact-header .register{
    background-color: var(--primary);
    margin-right: 1.5em;
    transition: 0.3s;
}
.contact-header .register:hover{
    background-color: var(--secondary);
}
.contact-header .hotline{
    background-color: var(--pink);
    transition: 0.3s;
}
.contact-header .hotline:hover{
    background-color: var(--pink-hover);
}
.btn span{
    font-size: 1.5em;
    font-weight: 500;
}
.banner{
    background: url(../img/bg-page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15em;
    height: auto;
}
.banner__title{
    width: 100%;
    position: relative;
}
.banner__title .line-1{
    display: block;
    text-align: center;
    position: relative;
}
.banner__title .line-2{
    display: block;
    text-align: center;
    margin-left: 28em;
}
.banner__title .line-1 span,
.banner__title .line-2 span
{
    font-size: 4.6em;
    font-weight: 500;
    color: var(--secondary);
}
.banner__title .line-1 strong,
.banner__title .line-2 strong
{
    font-size: 7em;
    font-weight: bolder;
    color: var(--pink-hover);
    padding-left: 1rem;
    line-height: 1;
}
/* FORM */
.diablog{
    margin-top: 6.5em;
    max-width: 40em;
    height: auto;
    background: var(--white);
    position: relative;
    border-radius: 20px;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.top-form{
    position: relative;
    text-align: center;
    padding: 2.5em 0;
}
.top-form h2 {
    font-size: 2.2em;
    font-weight: 400;
}
.top-form .close-btn-form{
    font-size: 2.5em;
}
.bot-form{
    padding: 0 4em 4em 4em;
    /* color: var(--primary); */
}
.bot-form .form{
    width: 100%;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
}
.bot-form .form input{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 1.8rem;
    margin: 0.6em 0;
    color: var(--black);
    padding: 0.7em 1em 0.7em 1em;
    font-size: 1.6em;
    font-weight: 500;
    width: 100%;
    border: 1px solid var(--primary);
    line-height: 1.5;
}
.bot-form .form input::placeholder{
    color: var(--black);
    font-weight: 600;
}
.bot-form .form-label .label-contactus{
    font-size: 1.6em;
}
.bot-form .btn-form{
    background: var(--primary);
    border-radius: 1.8rem;
    margin-top: 1em;
    border: none;
    width: 100%;
    padding: 0.7em 1em 0.7em 1em;
}
.bot-form .btn-form:hover{
    background-color: var(--secondary);
}
.btn-form span{
    font-size: 1.6em;
    font-weight: 500;
}
.bot-form .btn-form span{
    color: var(--white);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.choices{
    font-size: unset;
}
.choices__inner {
    padding: 0.5em 0 0.5em 1em;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 1.8rem;
    margin: 0.6em 0;
    color: var(--black);
    padding: 0.7em 1em 0.7em 1em !important;
    font-size: 1.6em;
    font-weight: 500;
    width: 100%;
    border: 1px solid var(--primary);
    font-weight: 500;
    line-height: 1.5;
}
.choices__list--single{
    padding: 0;
}
.is-open .choices__list--dropdown,.is-open .choices__list[aria-expanded] {
    border-color: var(--primary)
}
.choices__list--dropdown,.choices__list[aria-expanded] {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: #fff;
    border: 1px solid var(--primary);
    top: 100%;
    margin-top: -1px;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
.is-focused .choices__inner,.is-open .choices__inner {
    border-color: var(--primary);
    border-radius: 1.8rem;
    color: var(--black);
}
.is-flipped.is-open .choices__inner {
    border-radius: 1.4rem
}
.choices[data-type*=select-one] .choices__input {
    border-bottom: 1px solid var(--primary);
    border-radius: 0;
}
.banner__disc{
    width: 100%;
}
.top-banner{
    width: 100%;
    display: flex;
}
.banner__disc .img-bg{
    flex: 8;
}
.banner__disc .form{
    flex: 4;
}
.img-bg img{
    margin-left: -60px;
}
.form-label .choices__inner{
    min-height: auto;
}
/* BOX AREA */
.bot-banner {
    display: block;
    position: relative;
    top: -10em;
}
.box-area{
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box-area .box{
    width: 22.5%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 20px;
    aspect-ratio: 1.8;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    transition: 0.3s;
}
.box-area .inner-box{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}
.box-area .inner-box span{
    font-size: 2em;
    color: var(--primary);
    margin-top: 0.5em;
    font-weight: 500;
}
.box-area .box:hover{
    background-color: var(--pink);
}
.box-area .box:hover span{
    color: var(--white);
}
.inner-box img{
    height: auto;
}
.box:hover img{
    animation-name: shake;
    animation-duration: 0.75s;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(125deg) brightness(300%) contrast(101%) !important ;
}
.box-area .box:hover .icon-hover{
    display: block;
}
@keyframes shake {
    0%   {transform: scale3d(1, 1, 1);}
    30%  {transform: scale3d(1.25, 0.75, 1);}
    40%  {transform: scale3d(0.75, 1.25, 1);}
    50% {transform: scale3d(1.15, 0.85, 1);}
    65% {transform: scale3d(0.95, 1.05, 1);}
    75% {transform: scale3d(1.05, 0.95, 1);}
    100% {transform: scale3d(1, 1, 1);}
  }
  
/* VIDEO */
.video-area {
    width: 100%;
    margin-top: 10em;
}
.video-area__title h2{
    font-size: 6.4em;
    font-weight: 500;
    color: var(--pink-hover);
    margin-bottom: 1rem;
}
.video-area__title p{
    font-size: 2.8em;
    font-weight: 500;
    color: var(--dark-blue);
}
.video-area__disc{
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 3em;
    justify-content: space-between;
}
.video-area__left{
    position: relative;
    width: 50%;
}
.video-bg-img{
    width: 100%;
    object-fit: cover;
}
.video-play{
    object-fit: contain;
    width: 100%;
    /* width: 552px; */
    height: 389px;
}
.video-area__left .icon-play{
    width: 8.3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video-area__left .icon-play img{
    fill: #fff;
    object-fit: cover;
}
.video-area__left{
    width: auto;
    position: relative;
    text-align: center;
}
.video-area__right{
    width: 50%;
}
.video-play {
    width: 100%;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1.419;
    border-radius: 2rem;
}
.video-play iframe{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-area__disc .btn{
    background-color: var(--primary);
    transition: 0.3s;
}
.video-area__disc .btn:hover{
    background-color: var(--secondary);
}
.video-area__left .learnmore{
    position: relative;
    margin-top: 3.5em;
    padding: 1em 7em;
    left: 50%;
    transform: translateX(-50%);
}
.video-area__left .learnmore span{
    font-size: 2em;
}
.video-area__right .learnmore span{
    font-size: 2em;
}
.video-area__right .learnmore {
    position: relative;
    margin-bottom: 4em;
    padding: 1em 7em;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
}
.video-bg-img img{
    width: 100%;
    object-fit: cover;
}
/* Tab-box */
.accordion .panel{
    position: relative;
    display: none;
}
.accordion {
    margin-bottom: 2em;
}
.video-area__right .accordion.active {
    border: 1px solid var(--pink-hover);
    border-radius: 2rem;
    background-color: var(--white);
}
.accordion .tab{
    width: 100%;
    height: 100%;
    padding: 2em 3.5em;
    background-color: var(--pink);
    border-radius: 2rem;
    transition: 0.3s;
}
.accordion.active .tab{
    background-color: var(--pink-hover);
}
.accordion .tab span{
    color: var(--white);
    font-size: 1.8em;
    font-weight: 500;
    /* line-height: 1; */
}
.accordion .panel p{
    padding: 2.5em 1.5em;
    font-size: 1.6em;
    font-weight: 500;
    margin: 0;
}
.accordion .tab{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.accordion .tab .close-btn {
    flex: 0 0 auto;
    width: 1.5em;
    height: 1.5em;
    transform: rotate(180deg);
    transition: 0.3s;
    margin-left: 1em;
}
.accordion .tab .close-btn img{
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(125deg) brightness(300%) contrast(101%) !important ;
}
.accordion.active .tab .close-btn{
    transform: rotate(0);
}
/* SECTION 2 */
.section2{
    padding: 10em 0 14em;
}
.title {
    text-align: center;
}
.title h2 {
    font-size: 6.4em;
    font-weight: 500;
    color: var(--pink-hover);
}
.title h4 {
    font-size: 2.4em;
    font-weight: 500;
    color: var(--pink);
}
.widget-area{
    margin-top: 10em;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}
.widget{
    position: relative;
    width: 30%;
    text-align: center;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 20px 14px 28px, rgba(0, 0, 0, 0.22) 10px 10px 10px;
    background: var(--primary);
    position: relative;
    overflow: hidden;
    height: 64em;
}
.widg-2 {
    background-color: var(--secondary);
}
.widg-3 {
    background-color: var(--pink);
}
.widget__img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    padding: 12em 6em 9em 6em;
    transform: translateX(-50%);
    border-radius: 50%;
}
.widget__title h2{
    font-size: 2em;
    margin-bottom: 7em;
    color: var(--white);
    padding: 0 4rem;
}
.inner-widget p{
    font-size: 1.6em;
}
.inner-widget{
    position: relative;
    text-align: start;
    overflow: hidden;
    height: 100%;
    /* opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-top: 15em; */
}
.inner-widget p{
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    height: 0;
}
.widget__img img{
    width: 100%;
}
.widget:hover:before {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
    border-radius: 2rem;
}
.widget:before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease,-webkit-transform 0.4s ease;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(1, 0);
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    border-radius: 2rem;
}
.widget:hover .widget__img{
    /* padding: 3.5em 8em 3em 8em; */
    display: flex;
    width: 20em;
    height: 20em;
    padding: 0;
    margin-top: 4em;
    margin-bottom: 3.5em;
    background-color: var(--primary);
}
.widget.widg-2:hover .widget__img{
    background-color: var(--secondary);
}
.widget.widg-3:hover .widget__img{
    background-color: var(--pink);
}
.widget:hover .widget__img img{
    width: 13rem;   
}
.widget:hover .widget__title h2{
    position: relative;
    color: var(--black);
    z-index: 9999;
    margin-bottom: 0;
    padding: 0;
}
.widget:hover .widget__title{
    padding: 0 4em;
}
.widget:hover .inner-widget p{
    opacity: 1;
    visibility: visible;
    height: 100%;
    font-weight: 500;
}
.widget:hover .inner-widget{
    padding: 3em 5em 6em 5em;
}
.widg-2 .inner-widget,
.widg-3 .inner-widget
{
    text-align: center;
}
/* SECTION-3 */
.section3 {
    background-color: #b7edff;
    padding: 15em 0 16em;
}
.section3 .video-area__title h4{
    font-size: 2.4em;
    color: var(--pink);
    margin: 0;
    font-weight: 500;
    margin-bottom: 0.2rem;
}
.section3 .video-area__title p{
    font-size: 2.4em;
}
.section3 .main-tab{
    margin-top: 6.5em;
}
.section3 .video-area__disc{
    flex-direction: row-reverse;
}
.section3 .accordion .tab .close-btn img{
    filter: none !important;
}
.section3 .accordion .tab .close-btn{
    transform: rotate(0);
    height: auto;
    margin-left: 0;
    margin-right: 3em;
    display: flex;
    position: relative;
    align-items: center;
}
.section3 .accordion .tab{
    justify-content: start;
    align-items: center;
}
.section3 .accordion.active .tab{
    background-color: var(--pink);
}
.section3 .video-area__right .accordion.active{
    border: none;
}
.section3 .accordion {
    margin-bottom: 3em;
}
/* SECTION 4 */
.section4 {
    position: relative;
    background: url(../img/bg-section5.png);
    background-repeat: no-repeat;
    height: 780px;
}
.free-charge__img{
    position: absolute;
    left: 0;
    bottom: 0;
}
.free-charge__right{
    display: flex;
    position: relative;
    justify-content: flex-end;
    padding-top: 12em;
}
.section4 .free-charge__title{
    width: 41.6667%;
}
.section4 .free-charge__title h4{
    font-size: 2.4em;
    color: var(--pink);
    margin: 0;
    font-weight: 500;
    margin-bottom: 1em;
}
.free-charge__title h2 {
    font-size: 6.4em;
    font-weight: 500;
    color: var(--pink-hover);
}
.free-charge__title p {
    font-size: 2.4em;
    font-weight: 500;
    color: var(--dark-blue);
    margin-top: 0.5em;
}
.free-charge__title .learnmore {
    position: relative;
    margin-top: 3.5em;
    padding: 1em 7em;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary);
}
.free-charge__title .learnmore:hover{
    background-color: var(--secondary);
}
.mobile-img-section5{
    display: none;
}
/* FORM BOTTOM */
.form-bottom{
    padding: 15em 0 17em;
}
.form-bottom .banner__disc .top-banner{
    background-color: var(--primary);
    flex-direction: row-reverse;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 20px 14px 28px, rgba(0, 0, 0, 0.22) 10px 10px 10px;
}
.form-bottom .img-bg img{
    margin-left: 0;
}
.form-bottom .banner__disc .img-bg {
    flex: unset;
}
.form-bottom .title h2{
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4.8em;
}
.form-bottom .banner__disc .form{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}
.form-bottom .diablog{
    margin-top: 5em;
    width: 40em;
}
.form-bottom .bg-form{
    justify-content: center;
    position: relative;
    display: flex;
}
.form-bottom .banner__disc .form{
    flex: 5;
}
/* FOOTER */
footer{
    background-color: var(--primary);
    padding: 6.5em 0 8.5em;
}
.footer-row{
    display: flex;
    position: relative;
    gap: 8em;
    width: 100%;
}
.footer-row-item{
    flex: 1;
}
.footer-row li,
.reserved span{
    font-size: 1.6em;
    font-weight: 500;
    color: var(--secondary);
}
.icon-social{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.social .icon-social .img-icon{
    opacity: 0.64;
    margin-left: 2.5rem;
}
.social .icon-social .img-icon img{
    max-width: 20px;
    vertical-align: middle;
}
.footer-disc__down{
    display: flex;
    align-items: flex-end;
    position: relative;
    justify-content: end;
}
.icon-social a:hover img{
    animation-name: shake;
    animation-duration: 0.75s;
}
/* BOX SUPPORT */
.items-navigate {
    z-index: 99;
    position: fixed;
    right: 5px;
    top: 26%;
    gap: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.items-navigate li {
    display: flex;
    align-content: center;
    align-items: center;
}

.items-navigate a {
    display: block;
    cursor: pointer;
}

.items-navigate img {
    width: 36px;
}