html{
    font-size: 62.5%;
}
/* Header */
.header{
    display: flex;
    justify-content: space-between;
    position: absolute;
    background: transparent;
    left: 50%;
    transform: translateX(-50%);
    top: 3em;
}
.header .contact-header{
    display: flex;
    position: relative;
    width: fit-content;
    align-items: flex-end;
}
.contact-header .btn
{
    width: 100%;
    text-wrap: nowrap;
    padding: 0.8em 2em;
    background-color: var(--pink-hover);
    border-radius: 2em;
    color: var(--white);
}
.contact-header .register{
    background-color: var(--primary);
    margin-right: 1em;
}
.contact-header span{
    font-size: 1.4em;
    font-weight: 500;
}
.banner{
    /* background: url(../img/bg-section1.png); */
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 15em;
    height: auto;
}
.banner__title{
    width: 100%;
    position: relative;
}
.banner__title .line-1{
    display: block;
    text-align: center;
    position: relative;
}
.banner__title .line-2{
    display: block;
    text-align: center;
    margin-left: 25%;
}
.banner__title .line-1 span,
.banner__title .line-2 span
{
    font-size: 4.6em;
    font-weight: 500;
    font-family: sans-serif;
    color: var(--secondary);
}
.banner__title .line-1 strong,
.banner__title .line-2 strong
{
    font-size: 7em;
    font-weight: bold;
    font-family: sans-serif;
    color: var(--pink-hover);
    padding-left: 1rem;
    line-height: 1;
}
